<!doctype html>

<html lang="{{ site.lang | default: 'en-US' }}">

<head>
  <title>hangryFIX | Ridding the world of hangryness since 2019</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>

<body>
<div id="header">
  <nav>
    <li class="fork"><a href="{{ https://github.com/hangryfix/hangryfix.github.io }}">View On GitHub</a></li>
  </nav>
</div><!-- end header -->

<div class="wrapper">
  <section>
    <div id="title">
      <h1>hangryFIX</h1>
      <p>Ridding the world of hangryness since 2019</p>
      <hr>
      <span class="credits left">Project maintained by <a href="{{ https://github.com/hangryfix }}">hangryFIX</a></span>
      <span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/mattgraham">mattgraham</a></span>
    </div>
  </section>
</div>
</body>

</html>
